<div id="contact_section" class="js-pre-hide">
  <div class="container">
    <div class="center-section">
      <div class="top-contact">
        <p>Merci d'avoir pris le temps de parcourir mon site jusqu'à la fin.</p>
        <p><strong>Si</strong> vous recherchez <strong>un talent responsable</strong> et <strong>motivé</strong> à évoluer au sein de votre entreprise, <strong>je suis prêt à relever le défi.</strong></p>
      </div>
      <div class="bottom-contact">
        <h6>Contactez-moi :)</h6>
        <%= render 'shared/contact_form' %>
      </div>
    </div>
  </div>
  <%= render 'shared/footer' %>
</div>
