<div>
  <li><%= link_to 'Qui suis-je ?', '#about_section' %></li>
  <li><%= link_to 'Projets', '#projects_section' %></li>
  <li><%= link_to 'Mon CV', '#presentation_section' %></li>
  <li><p>Téléphone : 0611443706</p></li>
  <li><p>E-mail : pierre_libran@gmail.com</p></li>
</div>
