<div class="footer-container">
  <div class="footer">
    <li><%= link_to 'Qui suis-je ?', '#about_section' %></li>
    <li><%= link_to 'Projets', '#projects_section' %></li>
    <li><%= link_to 'Mon CV', '#presentation_section' %></li>
    <li>Téléphone : 0611443706</li>
    <li>E-mail : pierre_libran@gmail.com</li>
  </div>
</div>
