<div class="mini-navbar-container">
  <div class="mini-navbar">
    <li><%= link_to '<i class="fa-solid fa-house"></i> Home'.html_safe, "#about_section", class: "scroll-link" %></li>
    <li><%= link_to '<i class="fa-solid fa-ruler-combined"></i> Projets'.html_safe, "#projects_section", class: "scroll-link" %></li>
    <li><%= link_to '<i class="fa-solid fa-envelope"></i> Contact'.html_safe, "#contact_section", class: "scroll-link" %></li>
    <li><%= link_to '<i class="fa-solid fa-download"></i> Mon CV'.html_safe, download_cv_path, target: "_blank" %></li>
  </div>
</div>
