<div class="navbar">
  <ul class="dropdown-content">
    <li><%= link_to 'Qui suis-je ?', '#about_section' %></li>
    <li><%= link_to 'Projets', '#' %></li>
    <li><%= link_to 'Mon CV', '#' %></li>
  </ul>
  <div>
    <%= link_to 'Contact', '#contact_section' %>
  </div>
</div>
