<div class="navbar-container">
  <div class="navbar">
    <ul class="section">
      <li><%= link_to 'Qui suis-je ?', '#about_section' %></li>
      <li><%= link_to 'Projets', '#' %></li>
      <li><%= link_to 'Mon CV',  download_cv_path, target: "_blank" %></li>
    </ul>
    <ul class="section white-btn">
      <li><%= link_to 'Contact', '#contact_section' %></li>
    </ul>
  </div>
</div>
