<div class="container">
  <div id="projects_section">
    <div class="center-section">
      <div class="c-inner">
        <%= render partial: "shared/project_card",
                    collection: Project.all,
                    as: :project,
                    locals: { all_projects: Project.all } %>
      </div>
    </div>
  </div>
</div>
