<div class="container" id="content-wrapper">
  <%= render 'shared/about_section' %>
  <%= render 'shared/projects_section' %>
  <%= render 'shared/contact_section' %>
</div>

<%= render 'shared/modal' %>
