<div id="contact_section">
  <div class="center-section">
    <%# <div class="top-contact">
      <p>Merci d'avoir pris le temps de parcourir mon site jusqu'à la fin.</p>
      <p><strong>Si</strong> vous recherchez <strong>un talent responsable</strong> et <strong>motivé</strong> à évoluer au sein de votre entreprise, <strong>je suis prêt à relever le défi.</strong></p>
    </div> %>
    <div class="bottom-contact">
      <h6>Let's have a chat :)</h6>
      <%= render 'shared/contact_form' %>
    </div>
  </div>
</div>

<style>
  @media (max-width: 842px) {
    #contact_section {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 90%;
      min-height: calc(100vh);
      margin: auto;
      padding: 0px;
      margin-bottom: 0px;
      background: #F1F1F1;
    }

    .center-section {
      text-align: center;
    }

    .top-contact p {
      margin-bottom: 20px;
    }

    .bottom-contact h6 {
      margin-bottom: 10px;
      white-space: nowrap;
      font-size: 10vw;
    }
  }
</style>
