ul {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

p {
  margin-top: 0;
  margin-bottom: 0;
  align-content: center;
}

body, html {
  overflow-x: hidden; /* To prevent horizontal scrolling */
  // overflow-y: auto; /* Ensure vertical scrolling is enabled */
}

a {
  text-decoration: none;
  align-content: center;
}

h2 {
  font-size: 72px;
  font-weight: medium;
  margin: 0px;
}

h3 {
  font-size: 40px;
  margin: 0px;
}

h4 {
  margin: 0px;
  align-content: center;
}

h5 {
  margin: 0px;
}

h6 {
  font-size: 48px;
  margin: 0px;
}
p {
  font-size: 16px;
}
