#about_section {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  padding-top: 16px;
  padding-bottom: 20px;
  background: #F1F1F1;
}

#about_section .center-section {
  max-width:1064px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#about_section .main-presentation {
  display: grid;
  grid-template-columns: 50% 40%; /* Two rows of equal height */
  justify-content: space-between;
}

// .left-presentation {
//   display: flex;
//   align-items: center;
//   justify-content: center;
// }

#about_section .right-presentation {
  display: flex;
  align-items: center;
  justify-content: right;
}

#about_section .left-presentation {
  display: flex;
  flex-wrap: wrap;
  align-content: end;
  gap: 20px;
}

.left-presentation h2 {
  font-family: Montserrat;
  font-weight: 500;
  font-style: Medium;
  font-size: 72px;
  line-height: 100%;
  letter-spacing: 0%;

}

.left-presentation h3 {
  font-family: Montserrat;
  font-weight: 400;
  font-style: Regular;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 0%;
}

.left-presentation .paragraph p {
  font-family: Montserrat;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0%;
  vertical-align: middle;

}

.left-presentation ul {
  display: flex;
  flex-wrap: wrap;
  width: 92;
  height: 52;
  top: 459px;
  left: 366px;
  border-width: 1px;
  opacity: 1;
  border-radius: 1000px;
  padding-top: 2px;
  padding-right: 13px;
  padding-bottom: 2px;
  // padding-left: 13px;
  gap: 10px;
}

.left-presentation li {
  padding: 8px 26px;
  border-radius: 48px;
  background: #EDEDED;
  font-family: Montserrat;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 3%;
  text-align: center;
  vertical-align: middle;
  border: 1px solid #D9D9D9;
}

.secondary-presentation {
  margin-top: auto;
  .bottom-secondary-presentation {
    display: flex;
    justify-content: end;
    a{
      text-decoration: none;
      color: black;
      font-family: Montserrat;
      font-weight: 400;
      font-style: Regular;
      font-size: 14px;
      line-height: 26px;
      letter-spacing: 9%;
      text-align: center;
      vertical-align: middle;
      text-transform: uppercase;
      width: 255px;
      height: 35px;
      border-radius: 12px;
    }
  }
}

.top-secondary-presentation {
  display: flex;
  vertical-align: middle;
  p {
    margin-left: 32px;
  }
}
