#projects_section {
  background: #F1F1F1;
}

#projects_section .top-project {
  display: grid;
  grid-template-columns: 50% 50%; /* Two rows of equal height */
  justify-content: space-between;
}

#projects_section .top-project .right-presentation {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.top-project {
  h5 {
    font-family: Montserrat;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    margin: 20px 0px;
  }
}

.middle-project {
  margin: 24px 0px;
  display: flex;
  flex-direction: column;    /* Stack the <p> and <ul> vertically */
  align-items: center;       /* Center horizontally */
  text-align: center;
  ul {
    gap: 8px 32px;
  }
}

.middle-project p {
  font-family: Montserrat;
  font-weight: 400;
  font-style: Regular;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
  margin: 20px;
}

.progress-bar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  width: 100%;
  li {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.grey-frame {
  border-radius: 8px;
  color: white;
  padding: 4px 0px;
}

#project_1 {
  .grey-frame {
    background: #0E98A9;
  }
  .project-link:hover {
    color: #0E98A9;
    font-weight: bold;
  }
}


#project_2 {
  .grey-frame {
    background: #F98707;
  }
  .project-link:hover {
    color: #F98707;
    font-weight: bold;
  }
}

#project_3 {
  .grey-frame {
    background: #3B9F22;
  }
  a {
    color : #3B9F22 ;
    font-weight: bold;
  }
  a:hover {
    color: #d35400;
  }
  .project-link:hover {
    color: #3B9F22;
    font-weight: bold;
  }
}

#project_4 {
  .grey-frame {
    background: #432923;
  }
  a {
    color : #432923 ;
    font-weight: bold;
  }
  a:hover {
    color: #ff6e08;
  }
  .project-link:hover {
    color: #432923;
    font-weight: 400 !important;
  }
}

.outer-circle {
  width: 12px;
  height: 12px;
  background-color: grey; /* Outer circle color */
  border-radius: 50%;     /* Makes it a circle */
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner-circle {
  width: 6px;
  height: 6px;
  background-color: white; /* Inner circle color */
  border-radius: 50%;      /* Makes it a circle */
}

.c-item h4 {
  display: flex;
  gap: 24px;
  span {
    margin-top: auto;
  }
  strong {
    font-weight: bold;
    font-size: 36px;
  }
}

.switch {
  position: relative;
  display: inline-block;
  width: 70px;
  height: 25px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #FFFFFF;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 11px;
  width: 11px;
  left: 7px;
  bottom: 7px;
  background: #707070;
  transition: .4s;
}

// input:checked + .slider {
//   background-color: #2196F3;
// }

// input:checked + .slider:before {
//   transform: translateX(26px);
// }

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
@media (min-width: 842px) {
  .technologies-used ul {
    display: flex;
    flex-wrap: wrap;
    width: 92;
    height: 52;
    top: 459px;
    left: 366px;
    border-width: 1px;
    opacity: 1;
    border-radius: 1000px;
    padding-top: 2px;
    padding-right: 13px;
    padding-bottom: 2px;
    // padding-left: 13px;
    gap: 10px;
  }

  .technologies-used li {
    padding: 8px 26px;
    border-radius: 48px;
    background: #EDEDED;
    font-family: Montserrat;
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 3%;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #D9D9D9;
  }
}

.image-gallery {
  display: block;
  margin-top: 10px;
  // margin-left: -32px;
}

.image-gallery.block {
  display: block;
}

.main-image {
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center;     /* Centers vertically */
  height: 100%; /* Ensure the container has a defined height */
}

.main-image img {
  width: auto;
  max-width: 600px;
  max-height: 400px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  /* Optional: Remove any default margin/padding */
  margin: 0;
  padding: 0;
}

.center-thumbnails {
  display: flex;
  justify-content: center;
  margin: 10px 0px;
}

.thumbnails {
  display: flex;
  flex-wrap: wrap; /* Allow thumbnails to wrap to the next line if needed */
  gap: 8px;
  margin-top: 10px;
  padding: auto;
  justify-content: flex-start; /* Align thumbnails to the left */
  max-width: 100%;
  overflow: hidden; /* Prevent any overflow issues */
}

.thumbnail {
  width: 50px; /* Smaller width */
  height: 50px; /* Smaller height */
  object-fit: cover;
  cursor: pointer;
  border-radius: 4px;
  opacity: 0.7;
  transition: opacity 0.2s, border 0.2s;
  border: 2px solid transparent;
}

.thumbnail:hover {
  opacity: 0.9;
}

.thumbnail.active {
  opacity: 1;
  border: 2px solid #007bff;
}
