#projects_section {
  background: #F1F1F1;
}

#projects_section .top-project {
  display: grid;
  grid-template-columns: 50% 50%; /* Two rows of equal height */
  justify-content: space-between;
}

#projects_section .top-project .right-presentation {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.top-project {
  h5 {
    font-family: Montserrat;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    margin: 20px 0px;
  }
}

.middle-project {
  margin: 24px 0px;
  display: flex;
  flex-direction: column;    /* Stack the <p> and <ul> vertically */
  align-items: center;       /* Center horizontally */
  text-align: center;
  ul {
    gap: 8px 32px;
  }
}

.middle-project p {
  font-family: Montserrat;
  font-weight: 400;
  font-style: Regular;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
  margin: 20px;
}

.progress-bar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  width: 100%;
  li {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.grey-frame {
  border-radius: 8px;
  color: white;
  padding: 4px 0px;
}

#project_1 .grey-frame {
  background: #0E98A9;
}

#project_2 .grey-frame {
  background: #F98707;
}

#project_3 .grey-frame {
  background: #3B9F22;
}

.outer-circle {
  width: 12px;
  height: 12px;
  background-color: grey; /* Outer circle color */
  border-radius: 50%;     /* Makes it a circle */
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner-circle {
  width: 6px;
  height: 6px;
  background-color: white; /* Inner circle color */
  border-radius: 50%;      /* Makes it a circle */
}

.c-item h4 {
  display: flex;
  gap: 24px;
  span {
    margin-top: auto;
  }
}

.switch {
  position: relative;
  display: inline-block;
  width: 70px;
  height: 25px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #FFFFFF;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 4px;
  bottom: 4px;
  background: #707070;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
